</div>
<div id="entry-sommaire" class="sommaire">
	<h1 id="bouton-jaune" onclick='changepage("jaune");' 	class="bouton ceinture" >jaune</h1>
	<h1 id="bouton-orange" onclick='changepage("orange");' 	class="bouton ceinture">orange</h1>
	<h1 id="bouton-verte" onclick='changepage("verte");' 	class="bouton ceinture">verte</h1>
	<h1 id="bouton-bleue" onclick='changepage("bleue");' 	class="bouton ceinture">bleue</h1>
	<h1 id="bouton-retour" onclick='changepage("sommaire");' 	class="bouton retour">retour</h1>
</div>

</body>
</html>
